doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='img/logo/logo.png', rel='icon')
    title User | Register
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='css/ruang-admin.min.css', rel='stylesheet')
  body.bg-gradient-login
    // Register Content
    .container-login
      .row.justify-content-center
        .col-xl-10.col-lg-12.col-md-9
          .card.shadow-sm.my-5
            .card-body.p-0
              .row
                .col-lg-12
                  .login-form
                    .text-center
                      img(src='img/logo/logo.png',width='50px')
                      br
                      br
                      h1.h4.text-gray-900.mb-4 Register
                    != messages('message', locals)
                    form(action='/add_new_user',method='POST')
                      .form-group
                        label First Name
                        input#exampleInputFirstName.form-control(type='text',name='first_name',required, placeholder='Enter First Name')
                      .form-group
                        label Last Name
                        input#exampleInputLastName.form-control(type='text',name='last_name', placeholder='Enter Last Name')
                      .form-group
                        label Email
                        input#exampleInputEmail.form-control(type='email',name='user_name', aria-describedby='emailHelp', placeholder='Enter Email Address')
                      .form-group
                        label Password
                        input#exampleInputPassword.form-control(type='password',name='password', placeholder='Password')
                      .form-group
                        label Repeat Password
                        input#exampleInputPasswordRepeat.form-control(type='password',name='password2', placeholder='Repeat Password')
                      .form-group
                        button.btn.btn-primary.btn-block(type='submit') Register
                     
                    hr
                    .text-center
                      a.font-weight-bold.small(href='/') Already have an account?
                    .text-center
    // Register Content
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='js/ruang-admin.min.js')
